/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #4CAF50, #FFFF00, #FF5733);
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    color: #555;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px; /* Adjust padding */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* Adjust font size */
    text-transform: uppercase; /* Convert text to uppercase */
    background-image: url('play.png'); /* Add play symbol */
    background-repeat: no-repeat;
    background-position: center right; /* Position play symbol */
    background-size: 20px; /* Size of play symbol */
}

button:hover {
    background-color: #0056b3;
}

p {
    margin-bottom: 10px;
}

a {
    display: block;
    text-align: center;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.playing-space {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f9fa;
}

.playing-space p {
    margin-bottom: 10px;
}

.playing-space strong {
    color: #007bff;
}
